@use '../tokens' as *;
@use '../abstract' as *;

.input {

  html[data-theme="light"] & {
    --bl-foreground-color: #{$bl-sys-color-neutral-800};
    --bl-foreground-color-secondary: #{$bl-sys-color-neutral-400};
    --bl-active-stroke-color: #{$bl-sys-color-primary-700};
    --bl-error-foreground-color: #{$bl-sys-color-critical-800};
    --bl-disabled-foreground-color: #{$bl-sys-color-neutral-300};
    --bl-disabled-foreground-color-secondary: #{$bl-sys-color-neutral-100};
  }
  
  html[data-theme="dark"] & {
    --bl-foreground-color: #{$bl-sys-color-neutral-100};
    --bl-foreground-color-secondary: #{$bl-sys-color-neutral-600};
    --bl-active-stroke-color: #{$bl-sys-color-secondary-400};
    --bl-error-foreground-color: #{$bl-sys-color-critical-500};
    --bl-disabled-foreground-color: #{$bl-sys-color-neutral-700};
    --bl-disabled-foreground-color-secondary: #{$bl-sys-color-neutral-900};
  }

  width: fit-content;
  position: relative;

  .label-container {
    position: absolute;
    left: 12px;
    top: -8px;
    padding-inline: 2px;
    background-color: var(--bl-background-color);
  }

  label {
    @include label-2();
    display: block;
    height: fit-content;
    color: var(--bl-foreground-color);
  }

  .field {
    width: fit-content;
    height: 2rem;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    outline: 1px solid var(--bl-foreground-color);
    outline-offset: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      @include body-2();
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 10;
      border: none;
      background: none;
      color: var(--bl-foreground-color);

      &::placeholder {
        @include body-2(false);
        color: var(--bl-foreground-color-secondary);
        opacity: 1;
      }

      &:focus-visible {
        outline: none;
      }
    }

    .unit {
      @include quiet-2();
      text-wrap: nowrap;
      width: fit-content;
      color: var(--bl-foreground-color-secondary);
    }

    @include above-breakpoint('small') {
      height: 2.5rem;
    }

    &:has(input:focus-within) {
      border-color: transparent;
      outline:
        2px
        solid
        var(--bl-active-stroke-color);
    }
  }

  legend {
    @include quiet-2();
    margin-left: 14px;
    color: var(--bl-foreground-color);
  }

  &.input--error, &:has(input:invalid) {
    --bl-foreground-color: var(--bl-error-foreground-color) !important;
    --bl-active-stroke-color: var(--bl-error-foreground-color) !important;
  }

  &:has(input:disabled) {
    cursor: not-allowed;

    label, .field, input {
      cursor: not-allowed;
    }

    .field {
      outline-color: var(--bl-disabled-foreground-color);
    }

    label, input, legend {
      color: var(--bl-disabled-foreground-color);
    }

    input::placeholder, .unit {
      color: var(--bl-disabled-foreground-color-secondary);
    }
  }
}