@use '../../../../styles/abstract' as *;

.container {
  @include above-breakpoint('small') {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 8rem;
  }
}

.flex-wrapper {
  @include above-breakpoint('small') {
    @include row(center, space-between);
    @include width-in-column(10);
  }

  @include under-breakpoint('large') {
    flex-direction: column;
    gap: 8rem;
  }
}

.onboarding-card {
  padding-top: 4rem;
  
  @include above-breakpoint('small') {
    width: 22.5rem;
  }

  @include under-breakpoint('small') {
    min-height: calc(100dvh - 11.5rem);
  }
}

sm-login-form {
  width: 100%;

  @include under-breakpoint('small') {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }
}