@use '../../../../styles/abstract' as *;

.flex-wrapper {
  @include above-breakpoint('small') {
    @include row(center, space-between);
    @include width-in-column(10);
  }

  @include under-breakpoint('large') {
    flex-direction: column;
    gap: 8rem;
  }
}

.onboarding-card {  
  @include above-breakpoint('small') {
    width: 22.5rem;
  }

  @include under-breakpoint('small') {
    min-height: calc(100dvh - 11.5rem);
  }
}