<form (ngSubmit)="onSubmit()" [formGroup]="forgottenPasswordForm" class="onboarding-card__form">
  <fieldset>
    <sm-input
      label="E-mail associé au compte"
      inputType="text"
      inputId="uid"
      [formControl]="forgottenPasswordForm.controls.email"
      [value]="email!.value"
      [invalid]="isInvalidAndActioned(email)"
      [error]="emailError()"
      [onChange]="onInputChange.bind(this)"
    />
  </fieldset>
  <sm-button label="Envoyer un lien de réinitialisation" buttonType="submit" buttonStyle="filled" />
</form>