<main class="page-content container">
  <article class="onboarding-card">
    <sm-button label="Retour" buttonStyle="ghost" link="/connexion" class="back-button"/>
    <h1 class="onboarding-card__title">Mot de passe oublié</h1>
    @if (httpErrors()) {
      <div class="onboarding-card__form-errors">
        @for (error of httpErrors(); track error.message) {
          <p><b>{{ error.message }}</b></p>
        }
      </div>
    }
    <sm-forgotten-password-form [sendResetPasswordEmail]="sendResetPasswordEmail.bind(this)" class="onboarding-card__form-component"></sm-forgotten-password-form>
  </article>
</main>