$bl-prim-color-white: #ffffff;
$bl-prim-color-black: #121212;

$bl-prim-color-white-opacity-10: rgba($bl-prim-color-white, 0.1);
$bl-prim-color-white-opacity-20: rgba($bl-prim-color-white, 0.2);
$bl-prim-color-white-opacity-30: rgba($bl-prim-color-white, 0.3);
$bl-prim-color-white-opacity-40: rgba($bl-prim-color-white, 0.4);
$bl-prim-color-white-opacity-50: rgba($bl-prim-color-white, 0.5);
$bl-prim-color-white-opacity-60: rgba($bl-prim-color-white, 0.6);
$bl-prim-color-white-opacity-70: rgba($bl-prim-color-white, 0.7);
$bl-prim-color-white-opacity-80: rgba($bl-prim-color-white, 0.8);
$bl-prim-color-white-opacity-90: rgba($bl-prim-color-white, 0.9);

$bl-prim-color-black-opacity-10: rgba($bl-prim-color-black, 0.1);
$bl-prim-color-black-opacity-20: rgba($bl-prim-color-black, 0.2);
$bl-prim-color-black-opacity-30: rgba($bl-prim-color-black, 0.3);
$bl-prim-color-black-opacity-40: rgba($bl-prim-color-black, 0.4);
$bl-prim-color-black-opacity-50: rgba($bl-prim-color-black, 0.5);
$bl-prim-color-black-opacity-60: rgba($bl-prim-color-black, 0.6);
$bl-prim-color-black-opacity-70: rgba($bl-prim-color-black, 0.7);
$bl-prim-color-black-opacity-80: rgba($bl-prim-color-black, 0.8);
$bl-prim-color-black-opacity-90: rgba($bl-prim-color-black, 0.9);

$bl-prim-color-gray-050: #F1F1F3;
$bl-prim-color-gray-100: #E3E3E7;
$bl-prim-color-gray-200: #CCCDD5;
$bl-prim-color-gray-300: #B3B5C0;
$bl-prim-color-gray-400: #9A9CAB;
$bl-prim-color-gray-500: #818396;
$bl-prim-color-gray-600: #6A6C7F;
$bl-prim-color-gray-700: #535564;
$bl-prim-color-gray-800: #3C3D48;
$bl-prim-color-gray-900: #27282F;
$bl-prim-color-gray-950: #191A1E;

$bl-prim-color-red-050: #FCEDED;
$bl-prim-color-red-100: #F9DBDB;
$bl-prim-color-red-200: #F5BCBC;
$bl-prim-color-red-300: #F09D9D;
$bl-prim-color-red-400: #EB7979;
$bl-prim-color-red-500: #E65A5A;
$bl-prim-color-red-600: #E13B3B;
$bl-prim-color-red-700: #D41F1F;
$bl-prim-color-red-800: #9B1717;
$bl-prim-color-red-900: #610E0E;
$bl-prim-color-red-950: #420909;

$bl-prim-color-gold-050: #FDEED7;
$bl-prim-color-gold-100: #FBE0B5;
$bl-prim-color-gold-200: #F9C87A;
$bl-prim-color-gold-300: #F6AE3B;
$bl-prim-color-gold-400: #E69109;
$bl-prim-color-gold-500: #D27708;
$bl-prim-color-gold-600: #B55E07;
$bl-prim-color-gold-700: #924306;
$bl-prim-color-gold-800: #762E04;
$bl-prim-color-gold-900: #4E1902;
$bl-prim-color-gold-950: #3B1001;

$bl-prim-color-green-050: #E6F9ED;
$bl-prim-color-green-100: #CDF3DB;
$bl-prim-color-green-200: #9FE9BB;
$bl-prim-color-green-300: #71DE9B;
$bl-prim-color-green-400: #3FD378;
$bl-prim-color-green-500: #2ABB64;
$bl-prim-color-green-600: #229956;
$bl-prim-color-green-700: #1A7442;
$bl-prim-color-green-800: #135735;
$bl-prim-color-green-900: #0C3621;
$bl-prim-color-green-950: #08251A;

$bl-prim-color-blue-050: #EFF0FA;
$bl-prim-color-blue-100: #DFE1F5;
$bl-prim-color-blue-200: #C7CBEE;
$bl-prim-color-blue-300: #ABB1E6;
$bl-prim-color-blue-400: #9098DE;
$bl-prim-color-blue-500: #747ED6;
$bl-prim-color-blue-600: #5864CE;
$bl-prim-color-blue-700: #3D4BC6;
$bl-prim-color-blue-800: #2C379A;
$bl-prim-color-blue-900: #1C2362;
$bl-prim-color-blue-950: #131843;