$bl-prim-color-white: #ffffff;
$bl-prim-color-black: #121212;

$bl-prim-color-white-opacity-10: rgba($bl-prim-color-white, 0.1);
$bl-prim-color-white-opacity-20: rgba($bl-prim-color-white, 0.2);
$bl-prim-color-white-opacity-30: rgba($bl-prim-color-white, 0.3);
$bl-prim-color-white-opacity-40: rgba($bl-prim-color-white, 0.4);
$bl-prim-color-white-opacity-50: rgba($bl-prim-color-white, 0.5);
$bl-prim-color-white-opacity-60: rgba($bl-prim-color-white, 0.6);
$bl-prim-color-white-opacity-70: rgba($bl-prim-color-white, 0.7);
$bl-prim-color-white-opacity-80: rgba($bl-prim-color-white, 0.8);
$bl-prim-color-white-opacity-90: rgba($bl-prim-color-white, 0.9);

$bl-prim-color-black-opacity-10: rgba($bl-prim-color-black, 0.1);
$bl-prim-color-black-opacity-20: rgba($bl-prim-color-black, 0.2);
$bl-prim-color-black-opacity-30: rgba($bl-prim-color-black, 0.3);
$bl-prim-color-black-opacity-40: rgba($bl-prim-color-black, 0.4);
$bl-prim-color-black-opacity-50: rgba($bl-prim-color-black, 0.5);
$bl-prim-color-black-opacity-60: rgba($bl-prim-color-black, 0.6);
$bl-prim-color-black-opacity-70: rgba($bl-prim-color-black, 0.7);
$bl-prim-color-black-opacity-80: rgba($bl-prim-color-black, 0.8);
$bl-prim-color-black-opacity-90: rgba($bl-prim-color-black, 0.9);

$bl-prim-color-gray-050: #EEF0F1;
$bl-prim-color-gray-100: #DFE5E6;
$bl-prim-color-gray-200: #C6CFD1;
$bl-prim-color-gray-300: #ACBABD;
$bl-prim-color-gray-400: #90A3A6;
$bl-prim-color-gray-500: #748B8F;
$bl-prim-color-gray-600: #5F7376;
$bl-prim-color-gray-700: #4A5A5D;
$bl-prim-color-gray-800: #364143;
$bl-prim-color-gray-900: #22292A;
$bl-prim-color-gray-950: #161B1C;

$bl-prim-color-red-050: #FDECEC;
$bl-prim-color-red-100: #FBD9D9;
$bl-prim-color-red-200: #F8B9B9;
$bl-prim-color-red-300: #F49898;
$bl-prim-color-red-400: #F17878;
$bl-prim-color-red-500: #EE5757;
$bl-prim-color-red-600: #EB3737;
$bl-prim-color-red-700: #E51919;
$bl-prim-color-red-800: #AB1010;
$bl-prim-color-red-900: #6A0A0A;
$bl-prim-color-red-950: #4A0707;

$bl-prim-color-orange-050: #FBEEE8;
$bl-prim-color-orange-100: #F8DDD2;
$bl-prim-color-orange-200: #F3BFA9;
$bl-prim-color-orange-300: #EDA382;
$bl-prim-color-orange-400: #E88358;
$bl-prim-color-orange-500: #E56338;
$bl-prim-color-orange-600: #D84921;
$bl-prim-color-orange-700: #B53016;
$bl-prim-color-orange-800: #8B220D;
$bl-prim-color-orange-900: #581508;
$bl-prim-color-orange-950: #3C0F05;

$bl-prim-color-gold-050: #FBEFDF;
$bl-prim-color-gold-100: #F7E1C3;
$bl-prim-color-gold-200: #F1C892;
$bl-prim-color-gold-300: #EAAC5B;
$bl-prim-color-gold-400: #E49125;
$bl-prim-color-gold-500: #D07519;
$bl-prim-color-gold-600: #B55B16;
$bl-prim-color-gold-700: #9E3D13;
$bl-prim-color-gold-800: #7F250F;
$bl-prim-color-gold-900: #51170A;
$bl-prim-color-gold-950: #3A1007;

$bl-prim-color-turquoise-050: #E3F7F3;
$bl-prim-color-turquoise-100: #CAF0E7;
$bl-prim-color-turquoise-200: #9DE5D5;
$bl-prim-color-turquoise-300: #6CDAC0;
$bl-prim-color-turquoise-400: #34CFAB;
$bl-prim-color-turquoise-500: #19B895;
$bl-prim-color-turquoise-600: #0F9D7E;
$bl-prim-color-turquoise-700: #0B7861;
$bl-prim-color-turquoise-800: #085846;
$bl-prim-color-turquoise-900: #05372C;
$bl-prim-color-turquoise-950: #03251D;

$bl-prim-color-blue-050: #EAF2F4;
$bl-prim-color-blue-100: #D9E9EC;
$bl-prim-color-blue-200: #B7D4DB;
$bl-prim-color-blue-300: #95C0CA;
$bl-prim-color-blue-400: #6FABB8;
$bl-prim-color-blue-500: #5198A8;
$bl-prim-color-blue-600: #3D7F8E;
$bl-prim-color-blue-700: #256573;
$bl-prim-color-blue-800: #154D5A;
$bl-prim-color-blue-900: #05323C;
$bl-prim-color-blue-950: #042229;