@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');

$bl-prim-font-family-unbounded: 'Unbounded';
$bl-prim-font-family-figtree: 'Figtree';
$bl-prim-default-font-family: system-ui, sans-serif;

$bl-prim-font-weight-thin: 100;
$bl-prim-font-weight-extra-light: 200;
$bl-prim-font-weight-light: 300;
$bl-prim-font-weight-regular: 400;
$bl-prim-font-weight-medium: 500;
$bl-prim-font-weight-semi-bold: 600;
$bl-prim-font-weight-bold: 700;
$bl-prim-font-weight-extra-bold: 800;
$bl-prim-font-weight-black: 900;