@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bl-prim-font-family-trirong: 'Trirong';
$bl-prim-font-family-raleway: 'Raleway';
$bl-prim-default-font-family: system-ui, sans-serif;

$bl-prim-font-weight-thin: 100;
$bl-prim-font-weight-extra-light: 200;
$bl-prim-font-weight-light: 300;
$bl-prim-font-weight-regular: 400;
$bl-prim-font-weight-medium: 500;
$bl-prim-font-weight-semi-bold: 600;
$bl-prim-font-weight-bold: 700;
$bl-prim-font-weight-extra-bold: 800;
$bl-prim-font-weight-black: 900;