<div class="input" [class.input--error]="invalid">
  <label [for]='inputId'>{{label}}</label>
  <div class="field">
    <input
      [type]='domType()'
      [id]='inputId'
      [placeholder]='inputPlaceholder'
      [formControl]='formControl'
      [value]='value'
      (input)='onChange()'
      (blur)='onChange()'
    />
    @if (unit) {
      <span class="unit">{{unit}}</span>
    }
    @if (inputType === 'password') {
      <button type="button" class="show-password-button" (click)="togglePasswordVisibility()">
        @if (isPasswordVisible()) {
          Hide
          <icon-invisible size="16" />
        } @else {
          Show
          <icon-visible size="16" />
        }
      </button>
    }
  </div>
  @if (error || legend) {
    <legend>{{error || legend}}</legend>
  }
</div>