<main class="container">
  <article>
    <sm-button label="Retour" buttonStyle="ghost" link="/"/>
    <h1>Inscrpition</h1>
    @for (error of errors(); track error.message) {
      <p>{{ error.message }}</p>
    }
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <fieldset>
        <!-- <sm-input
          label="E-mail"
          inputType="text"
          inputId="email"
          formControlName="email"
          [error]="validationErrors.email"
        /> -->
        <!-- <div>
          <label for="email">E-mail</label>
          <input type="text" formControlName="email" id="email">          
        </div> -->
        <div>
          <label for="username">Nom d'utilisateur</label>
          <input type="text" formControlName="username" id="username">
        </div>
        <div>
          <label for="name">Nom complet ou pseudonyme</label>
          <input type="text" formControlName="fullName" id="name">
        </div>
        <div>
          <label for="password">Mot de passe</label>
          <input type="password" formControlName="password" id="password">
        </div>
        <div>
          <label for="password-confirmation">Mot de passe (confirmation)</label>
          <input type="password" formControlName="passwordConfirmation" id="password-confirmation">
        </div>
      </fieldset>
      <button type="submit">Créer mon compte</button>
    </form>
  </article>
</main>