<main class="container">
  <article>
    <sm-button label="Retour" buttonStyle="ghost" link="/"/>
    <h1>Inscrpition</h1>
    @for (error of httpErrors(); track error.message) {
      <p>{{ error.message }}</p>
    }
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <fieldset>
        <sm-input
          label="E-mail"
          inputType="text"
          inputId="email"
          [formControl]="signupForm.controls.email"
          [value]="email!.value"
          [error]="emailError()"
          [onChange]="onInputChange.bind(this)"
        />
        <sm-input
          label="Nom d'utilisateur"
          inputType="text"
          inputId="username"
          [formControl]="signupForm.controls.username"
          [value]="username!.value"
          [error]="usernameError()"
          [onChange]="onInputChange.bind(this)"
        />
        <sm-input
          label="Nom complet ou pseudonyme"
          inputType="text"
          inputId="fullname"
          [formControl]="signupForm.controls.fullName"
          [value]="fullName!.value"
          [error]="fullNameError()"
          [onChange]="onInputChange.bind(this)"
        />
        <sm-input
          label="Mot de passe"
          inputType="text"
          inputId="password"
          [formControl]="signupForm.controls.password"
          [value]="password!.value"
          [error]="passwordError()"
          [onChange]="onInputChange.bind(this)"
        />
        <sm-input
          label="Mot de passe (confirmation)"
          inputType="text"
          inputId="password-confirmation"
          [formControl]="signupForm.controls.passwordConfirmation"
          [value]="passwordConfirmation!.value"
          [error]="passwordConfirmationError()"
          [onChange]="onInputChange.bind(this)"
        />
      </fieldset>
      <sm-button label="Créer mon compte" buttonType="submit" buttonStyle="filled" [disabled]="!signupForm.valid || passwordConfirmation?.value !== password?.value" />
    </form>
  </article>
</main>