@use './base';
@use './components';

@use './abstract' as *;

:root {
  --bl-header-height: 0px;
  --bl-footer-height: 0px;
}

.container:has(.onboarding-card) {
  @include above-breakpoint('small') {
    html[data-theme="light"] & {
      background: linear-gradient(135deg, $primary-050 35%, $primary-300);
    }
  
    html[data-theme="dark"] & {
      background: linear-gradient(135deg, $primary-950, $primary-800);
    }
  }
}

.website-introduction {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include under-breakpoint('small') {
    display: none;
  }
}

.website-introduction__title {
  @include website-title();
  color: $primary-950;
}

.website-introduction__subtitle {
  color: $primary-950;
  @include website-subtitle();
}

.website-introduction__buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.go-to-signup {
  position: relative;
  width: 100vw;
  margin-left: calc(-1 * var(--bl-page-margin));
  display: grid;
  place-items: center;
  gap: 1.5rem;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem;
  background-color: $primary-050;
  z-index: 1;
  @include shadow();

  @include above-breakpoint('small') {
    display: none;
  }

  .go-to-signup__title {
    @include body-1();
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.onboarding-card {
  position: relative;
  background-color: var(--bl-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
  @include above-breakpoint('small') {
    border-radius: 2rem;
  }

  @include under-breakpoint('small') {
    width: 100vw;
    min-height: 100dvh;
    margin-left: calc(-1 * var(--bl-page-margin))
  }

  .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
  
    @include above-breakpoint('small') {
      top: 2rem;
      left: 2rem;
    }
  }

  .buttons {
    display: grid;
    gap: 0.5rem;
  }
}

.onboarding-card__title {
  @include headline-2();
  text-align: center;
}

.onboarding-card__form-errors {
  --bl-foreground-color: #{$critical-700};
  color: var(--bl-foreground-color);
  margin-top: 2rem;

  @include above-breakpoint('small') {
    margin-top: 3rem;
  }

  p {
    @include body-3();
    text-align: center;

    @include under-breakpoint('small') {
      margin-bottom: 0.5rem;
    }

    &:last-child {
      margin-bottom: 1.5rem;
    }
  }
}

.onboarding-card__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;

  fieldset {
    display: grid;
    gap: 1.5rem;
  }
}

.onboarding-card__form .button, .go-to-signup .button {
  width: 100%;
}