<main class="page-content container">
  <article class="onboarding-card">
    <h1 class="onboarding-card__title">E-mail envoyé</h1>
    <div class="onboarding-card__content">
      <p class="onboarding-card__paragraph"><b>
        Si l'e-mail que vous avez entré est bien associé à votre compte, vous allez recevoir un lien vous permettant de réinitialiser votre mot de passe par e-mail.
      </b></p>
      <p class="onboarding-card__paragraph">
        Vous pouvez fermer cet onglet.
      </p>
    </div>
  </article>
</main>