<main class="page-content container">
  <article class="onboarding-card">
    <h1 class="onboarding-card__title">E-mail envoyé</h1>
    <div class="onboarding-card__content">
      <svg width="160" height="84" viewBox="0 0 160 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M91.8653 58.7432L81.5126 20.1062L139.468 4.57707L149.821 43.2141L91.8653 58.7432Z" stroke="currentColor" stroke-width="6" stroke-linejoin="round"/>
        <path d="M81.5126 20.1062L116.184 33.592L139.468 4.57707" stroke="currentColor" stroke-width="6" stroke-linejoin="round"/>
        <path d="M71.0261 31.1983L20.798 44.6568" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M74.1319 42.7894L43.2223 51.0716" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M77.2378 54.3805L19.2822 69.9096" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <p class="onboarding-card__paragraph"><b>
        Si l'e-mail que vous avez entré est bien associé à votre compte, vous allez recevoir un lien vous permettant de réinitialiser votre mot de passe par e-mail.
      </b></p>
      <p class="onboarding-card__paragraph">
        Vous pouvez fermer cet onglet.
      </p>
    </div>
  </article>
</main>