<main class="page-content container">
  <article class="onboarding-card">
    <sm-button label="Retour" buttonStyle="ghost" link="/connexion" class="back-button"/>
    <h1 class="onboarding-card__title">Inscription</h1>
    @if (httpErrors()) {
      <div class="onboarding-card__form-errors">
        @for (error of httpErrors(); track error.message) {
          <p><b>{{ error.message }}</b></p>
        }
      </div>
    }
    <sm-signup-form [signup]="signup.bind(this)"></sm-signup-form>
  </article>
</main>