<main class="page-content container">
  <article class="onboarding-card">
    <sm-button label="Retour" buttonStyle="ghost" link="/connexion" class="back-button"/>
    <h1 class="onboarding-card__title">Connexion anonyme</h1>
    <div class="onboarding-card__form">
      <p class="onboarding-card__paragraph">
        En vous connectant de façon anonyme, vous pourrez accéder aux fonctionnalités de lecture (voir les publications, lire les commentaires, etc), mais vous ne pourrez pas interagir avec les autres utilisateurs (envoyer des messages, publier des commentaires, etc).
      </p>
      <sm-button label="J'ai compris" buttonStyle="filled" (click)="connectAsAnonymous()" />
    </div>
  </article>
</main>