<form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
  <label for="username">Nom d'utilisateur</label>
  <input type="text" id="username" formControlName="username">
  <label for="email">E-mail</label>
  <input type="text" id="email" formControlName="email">
  <label for="fullName">Nom complet</label>
  <input type="text" id="fullName" formControlName="fullName">
  <label for="password">Mot de passe</label>
  <input type="text" id="password" formControlName="password">
  <label for="passwordConfirmatin">Mot de passe (confirmation)</label>
  <input type="text" id="passwordConfirmation" formControlName="passwordConfirmation">
  <button type="submit">Sign up</button>
</form>

<p *ngIf="data">{{ data.token }}</p>
<p *ngFor="let error of errors">{{ error }}</p>