<form (ngSubmit)="onSubmit()">
  <label for="username">Nom d'utilisateur</label>
  <input type="text" id="username" [(ngModel)]="user.username" name="username">
  <label for="email">E-mail</label>
  <input type="text" id="email" [(ngModel)]="user.email" name="email">
  <label for="fullName">Nom complet</label>
  <input type="text" id="fullName" [(ngModel)]="user.fullName" name="fullName">
  <label for="password">Mot de passe</label>
  <input type="text" id="password" [(ngModel)]="user.password" name="password">
  <label for="passwordConfirmatin">Mot de passe (confirmation)</label>
  <input type="text" id="passwordConfirmation" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation">
  <button type="submit">Sign up</button>
</form>

<div>{{ user.username }}</div>

<p *ngIf="token">{{ token }}</p>

<router-outlet />