<form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="onboarding-card__form">
  <fieldset>
    <sm-input
      label="E-mail"
      inputType="text"
      inputId="email"
      [formControl]="signupForm.controls.email"
      [value]="email!.value"
      [invalid]="isInvalidAndActioned(email)"
      [error]="emailError()"
      [onChange]="onInputChange.bind(this)"
    />
    <sm-input
      label="Nom d'utilisateur"
      inputType="text"
      inputId="username"
      [formControl]="signupForm.controls.username"
      [value]="username!.value"
      [invalid]="isInvalidAndActioned(username)"
      [error]="usernameError()"
      [onChange]="onInputChange.bind(this)"
    />
    <sm-input
      label="Nom complet ou pseudonyme"
      inputType="text"
      inputId="fullname"
      [formControl]="signupForm.controls.fullName"
      [value]="fullName!.value"
      [invalid]="isInvalidAndActioned(fullName)"
      [error]="fullNameError()"
      [onChange]="onInputChange.bind(this)"
    />
    <sm-input
      label="Mot de passe"
      inputType="password"
      inputId="password"
      [formControl]="signupForm.controls.password"
      [value]="password!.value"
      [invalid]="isInvalidAndActioned(password)"
      [error]="passwordError()"
      [onChange]="onInputChange.bind(this)"
    />
    <sm-input
      label="Mot de passe (confirmation)"
      inputType="password"
      inputId="password-confirmation"
      [formControl]="signupForm.controls.passwordConfirmation"
      [value]="passwordConfirmation!.value"
      [invalid]="
        isInvalidAndActioned(passwordConfirmation)
        || (!arePasswordsEqual() && hasBeenUserAction(passwordConfirmation))
      "
      [error]="passwordConfirmationError()"
      [onChange]="onInputChange.bind(this)"
    />
  </fieldset>
  <sm-button label="Créer mon compte" buttonType="submit" buttonStyle="filled" />
</form>